.new_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.product {
  /* border: 1px solid #ccc; */
  padding: 5px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: black;
  padding: 5px;
  width: 5rem;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
