.header {
  background-color: yellow;
  height: 3rem;
  width: 100%;
  text-align: center;
}
/* .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.banner {
  height: 70rem;
  width: 100%;
  object-fit: contain;
}

.button_container {
  height: 2rem;
  width: 5rem;
  display: flex;
  align-items: center;
}

.button {
  background-color: black;
  color: white;
}

.winter_items {
  margin-top: 20rem;
}
